<!-- This is what we want to render for the login page -->
<!-- From Brad Traversy https://github.com/bradtraversy/node_passport_login/blob/master/views/login.ejs  -->

<!-- Bootstrap markup, see register.ejs for comments -->

<div class="row mt-5">
    <div class="col-md-5 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-hand-spock"></i>  Login</h1>
        <p class="lead text-white">Login to view your newsletter subscription status and more!</p>
      <!-- including messages partial in views folder to display error and success messages  -->
        <% include ./partials/messages %>
        <form action="/users/login" method="POST">
          <fieldset>
            <div class="form-group">
              <label for="email">Email*</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password*</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </fieldset>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/users/subscribe">Register</a>
        </p>
      </div>
      <div id="copy">&copy; by Mallory</div>
    </div>
  </div>

  