<!-- This is what we want to render for the thankyou page -->
<!-- From Brad Traversy https://github.com/bradtraversy/node_passport_login/blob/master/views/thankyou.ejs  -->

<!-- user.name: once your registered and logged in, you will have access to the user object and all fields we have saved in our database. Gave access to it in /routes/index with router.get('/thankyou', ensureAuthenticated, (req, res) => res.render('thankyou', {
  name: req.user.name
})); -->
<!-- Added bootstrap styles (ie margin-left and changed colors of buttons to primary and info) -->
<h1 class="mt-4 ml-3">Welcome <%= name %> </h1>
<h2 class="lead mb-3 ml-3">You are subscribed to our monthly newsletters!</h2>
<p class="lead mb-3 ml-3">Click the link below to view our Article Blog!</p>
<a href="/posts" class="btn btn-info btn-lg ml-3">Article Blog</a><br><br>
<a href="/users/logout" class="btn btn-primary ml-3">Logout</a>

<script src="js/app.js"></script>

