<!-- This is what we want to render for the index page -->
<!-- From Brad Traversy https://github.com/bradtraversy/node_passport_login/blob/master/views/welcome.ejs  -->

<!-- Bootstrap markup, used https://bootswatch.com/cyborg/ to learn how to alter styles.  -->
<!-- Row with margin-top 5 -->
<div class="row mt-5">
  <!--6 column div, margin auto  -->
    <div class="col-md-6 m-auto">
      <!-- Using a card so we have a border and padding, text-center -->
      <div class="card card-body text-center">
        <!-- H1 has the owl icon -->
        <h1 class="text-center mb-3"><i class="fab fa-earlybirds"></i> Databird</h1>
        <p>Register to subscribe to our newsletters, or login to view your subscription status!</p>
        <!-- register button styled -->
        <a href="/users/subscribe" class="btn btn-primary btn-block mb-2"
          >Register</a>
        <!--  login button styled-->
        <a href="/users/login" class="btn btn-info btn-block">Login</a>
      </div>
    </div>
  </div>

  <script src="js/index.js"></script>
 
 